*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(127, 58, 40);
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.anton-titele{
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.wrapper{
    max-width: 960px;
    background-color: #9f573f;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.imgArticle{
    width: 100%;
    border-radius: 25px 25px 25px 25px;
}

.imgArticle2{
    width: 100%;
    border-radius: 25px 25px 25px 25px;
}
.wrapper a {
    position: relative;
    z-index: 1;
  }
  
.wrapper a::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: #fc2f70;
    transform-origin: bottom center;
    transform: scaleY(0.1);
    transition: all 0.1s ease-in-out;
  }
  
.wrapper a:hover::before {
    transform: scaleY(1);
    background-color: hsla(341, 97%, 59%, 0.75);
  }
  

.imgBtm{
    margin-right: 20px;

}